Nombre: {{ nombre }} <br/>
Email: {{ email }} <br/>
{% if pais is defined  %}
País: {{ pais }} <br/>
{% endif %}
{% if ciudad is defined  %}
Ciudad: {{ ciudad }} <br/>
{% endif %}
{% if telefono is defined  %}
Teléfono: {{ telefono }} <br/>
{% endif %}
{% if descripcion is defined  %}
Descripción: {{ descripcion }} <br/>
{% endif %}
{% if pregunta_1 is defined  %}
Pregunta 1: {{ pregunta_1}} <br/>
{% endif %}
{% if pregunta_2 is defined  %}
Pregunta 2: {{ pregunta_2 }} <br/>
{% endif %}
{% if pregunta_3 is defined  %}
Pregunta 3: {{ pregunta_3 }} <br/>
{% endif %}
